@keyframes animate1 {
  0% {
    left: -100%; }
  100% {
    left: 100%; } }

@keyframes animate2 {
  0% {
    top: -100%; }
  100% {
    top: 100%; } }

@keyframes animate3 {
  0% {
    right: -100%; }
  100% {
    right: 100%; } }

@keyframes animate4 {
  0% {
    top: 100%; }
  100% {
    top: -100%; } }

.menu-btn {
  position: absolute;
  z-index: 10;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.3s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.3s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.97;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #121212;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.3s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #1f1f1f;
    transform: translate3d(0, 100%, 0);
    transition: all 0.3s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background: url(./img/B&W-Profile.png);
      background-position: center;
      background-size: cover;
      border: solid 2px #4cade2; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.3s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #4cade2; }
  .menu .nav-link {
    display: block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    transition: all 0.3s ease-out; }
    .menu .nav-link:hover {
      color: #4cade2; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  background-color: #1f1f1f;
  color: #fff;
  width: 100%;
  line-height: 1.5rem;
  margin: 0;
  overflow-x: hidden; }
  body .txt-type > .txt {
    border-right: 0.2rem solid #777; }
  body h1,
  body h2,
  body h3 {
    font-weight: 400; }
    body h1.lg-heading,
    body h2.lg-heading,
    body h3.lg-heading {
      font-size: 4.1rem;
      font-family: "Black Ops One", cursive; }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 3;
  width: 100%;
  font-family: "Black Ops One", cursive; }

.text-secondary {
  color: #4cade2; }

main {
  padding: 0.2rem 4rem;
  min-height: calc(100vh - 40px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #4cade2;
        transition: all 0.3s ease-out; }

#home .lg-heading {
  font-family: "Poiret One", cursive; }

#home .sm-heading {
  font-family: "Special Elite", cursive; }

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .fullscreen-video-wrap video {
    min-height: 100%;
    min-width: 100%; }

.header-overlay {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  background: #0e0e11;
  opacity: 0.65; }

.header-content {
  z-index: 2;
  position: absolute;
  margin: 0 auto;
  margin-top: 30vh; }

.about-info {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 1rem;
  display: grid;
  grid-template-areas: "bioimage bio bio" "skill-box job1 job1" "skill-box job2 job2"; }
  .about-info h3 {
    color: #4cade2;
    text-transform: uppercase;
    font-family: "Black Ops One", cursive; }
  .about-info .bio-image {
    grid-area: bioimage;
    margin: auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: #4cade2 1px solid; }
  .about-info .bio {
    grid-area: bio;
    padding: 20px;
    font-size: 1.1rem;
    font-family: "Poiret One", cursive;
    letter-spacing: 2px;
    border: #4cade2 1px solid;
    border-radius: 4px; }
  .about-info .job-1 {
    grid-area: job1; }
  .about-info .job-2 {
    grid-area: job2; }
  .about-info .skill-box {
    grid-area: skill-box; }
  .about-info .job {
    background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
    padding: 0.2rem;
    border-radius: 5px;
    text-align: center;
    border: #4cade2 1px solid;
    transition: 0.5s;
    color: #cfcfcf; }
    .about-info .job:before {
      content: "";
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.03);
      pointer-events: none; }
    .about-info .job:hover {
      transform: translateY(-10px);
      box-shadow: 0 15px 35px #0d0d0e; }

.container {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: row; }
  .container .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 230px;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s; }
    .container .card h2 {
      font-family: "Orbitron", sans-serif; }
    .container .card svg {
      position: relative;
      width: 150px;
      height: 150px; }
      .container .card svg circle {
        width: 100%;
        height: 100%;
        fill: none;
        stroke: #191919;
        stroke-width: 8;
        stroke-linecap: round;
        transform: translate(5px, 5px); }
        .container .card svg circle:nth-child(2) {
          stroke-dasharray: 440;
          stroke-dashoffset: 440; }
    .container .card .text {
      position: relative;
      margin-top: 20px;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: 0.5s; }
    .container .card .percent {
      position: relative;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      box-shadow: inset 0 0 50px #000;
      background: #222; }
      .container .card .percent .number {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%; }
        .container .card .percent .number h2 {
          font-weight: 700;
          font-size: 30px;
          transition: 0.5s; }
          .container .card .percent .number h2 span {
            font-size: 24px;
            transition: 0.5s; }

.card:nth-child(1) svg circle:nth-child(2),
.card:nth-child(2) svg circle:nth-child(2),
.card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  animation: circle1 4s normal ease-out 1;
  stroke: #ff8800; }

.card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 80) / 100);
  animation-name: circle2;
  stroke: #00a1ff; }

.card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 60) / 100);
  animation-name: circle3;
  stroke: #eeff04; }

.card2:nth-child(1) svg circle:nth-child(2),
.card2:nth-child(2) svg circle:nth-child(2),
.card2:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: 0;
  stroke: #3d6875fa;
  animation-iteration-count: 0; }

.card2:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100); }

.card2:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 80) / 100); }

@keyframes circle1 {
  10% {
    stroke-dashoffset: 450; }
  100% {
    stroke-dashoffset: 45; } }

@keyframes circle2 {
  10% {
    stroke-dashoffset: 450; }
  100% {
    stroke-dashoffset: 90; } }

@keyframes circle3 {
  10% {
    stroke-dashoffset: 450; }
  100% {
    stroke-dashoffset: 180; } }

#main-footer {
  text-align: center;
  padding: 0.5rem;
  background: #272727;
  color: #fff;
  height: 40px; }

.skill-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  border-radius: 5px;
  text-align: center;
  border: #4cade2 1px solid;
  transition: 0.5s; }
  .skill-box:before {
    content: "";
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.03);
    pointer-events: none; }
  .skill-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px #0d0d0e; }
  .skill-box .skills {
    width: 55%;
    color: #cfcfcf;
    list-style: none; }
    .skill-box .skills h3 {
      margin: 20px 0 -15px 0;
      color: #4cade2;
      text-transform: uppercase; }
    .skill-box .skills h4 {
      margin: 0 0 -18px 0;
      font-family: "Orbitron", sans-serif;
      font-size: 0.1rem;
      color: white;
      letter-spacing: 4px; }
    .skill-box .skills li {
      margin: 20px 0; }
    .skill-box .skills .bar {
      background: #1d2027;
      display: block;
      height: 14px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 0 10px #2187e7b3; }
      .skill-box .skills .bar span {
        height: 14px;
        float: left;
        background: #2187e7; }

@media screen and (min-width: 1636px) {
  #projects .contain {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    grid-gap: 40px; } }

@media screen and (max-width: 1200px) {
  #projects .contain {
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    grid-gap: 20px; }
  #contact {
    align-items: center;
    text-align: center; }
    #contact .boxes {
      flex-direction: column;
      height: 60vh; }
      #contact .boxes a {
        font-size: 12px;
        padding: 20px 25px;
        -webkit-box-reflect: inherit; } }

@media screen and (max-width: 920px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  #contact .lg-heading {
    font-size: 2.5rem; }
  #contact .boxes {
    height: 70vh; }
  #contact a {
    font-size: 13px;
    padding: 17px 22px; }
  #home {
    justify-content: center;
    display: flex; }
    #home .header-content {
      margin: 0; }
    #home .lg-heading {
      font-size: 4rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-width: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 30vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      width: 150px;
      height: 150px;
      background-position: center;
      background-size: cover; }
  #about .lg-heading {
    font-size: 2.5rem; }
  #about .about-info {
    width: 100%;
    grid-template-areas: "bioimage" "bio" "job1" "job2" "job3" "skill-box";
    grid-template-columns: 1fr; }
    #about .about-info .bio-image {
      height: 200px;
      width: 200px; }
    #about .about-info .skill-box {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      justify-content: center;
      margin-top: -20px; }
      #about .about-info .skill-box .skills {
        width: 25%;
        margin: 0 5%; }
    #about .about-info .job .card .number h2 {
      font-size: 1.5rem; }
      #about .about-info .job .card .number h2 span {
        font-size: 1rem; }
    #about .about-info .job .card h2 {
      font-size: 1rem; }
  #projects .lg-heading {
    font-size: 2.5rem;
    margin-bottom: 30px; }
  #projects .contain {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; } }

@media screen and (max-width: 665px) {
  #home .lg-heading {
    font-size: 3.5rem; }
  #home .sm-heading {
    font-size: 1.3rem; }
  #projects .contain {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    #projects .contain .flip-card {
      height: 180px;
      width: 250px; }
    #projects .contain .flip-card .face2 {
      font-size: 0.8rem; }
  main#about .about-info .container {
    flex-direction: column;
    align-items: center; }
  main#about .about-info .skill-box {
    flex-direction: column; }
    main#about .about-info .skill-box .skills {
      width: 75%; }
  main#about .about-info h3 {
    font-size: 1.3rem; }
  main#about .about-info h4 {
    font-size: 0.8rem; }
  main#about .about-info .bio-image {
    height: 150px;
    width: 150px; }
  main#contact .lg-heading {
    font-size: 2.5rem; }
  main#contact h2 {
    font-size: 0.8rem; }
  main#contact .boxes a {
    font-size: 0.5rem;
    padding: 15px 20px; } }

#projects {
  min-height: 100vh;
  background: #1e1e1e; }
  #projects .lg-heading {
    font-family: "Black Ops One", cursive; }

.contain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  grid-gap: 30px;
  width: 95%;
  margin-bottom: 50px; }
  .contain h3 {
    margin: 5px 0 0 0;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 2px;
    font-family: "Orbitron", sans-serif; }
  .contain .flip-card {
    position: relative;
    width: 300px;
    height: 200px; }
    .contain .flip-card .face {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.5s;
      border: #4cade2 1px solid; }
    .contain .flip-card .face1 {
      background: #333;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1;
      transform-origin: bottom; }
      .contain .flip-card .face1 img {
        max-width: 110px; }
    .contain .flip-card .face2 {
      color: whitesmoke;
      font-family: "Poiret One", cursive;
      letter-spacing: 2px;
      background: #333;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px 15px;
      transform-origin: top;
      transform: translateY(100%) rotateX(90deg); }
      .contain .flip-card .face2 i {
        font-size: 20px;
        margin-left: 5px; }
      .contain .flip-card .face2 a {
        padding: 10px 10px;
        font-size: 10px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Orbitron", sans-serif;
        letter-spacing: 2px;
        color: #1d1b1b;
        background: #fff;
        transition: ease-in-out 0.4s; }
        .contain .flip-card .face2 a:hover {
          background: #1b1b1b;
          color: #fff;
          cursor: pointer; }

.contain .flip-card:hover .face1 {
  transform: translateY(-100%) rotateX(90deg);
  background: #03e9f4; }

.contain .flip-card:hover .face2 {
  transform: translateY(0) rotateX(0); }

#contact .lg-heading {
  font-family: "Black Ops One", cursive; }

#contact .sm-heading {
  font-family: "Poiret One", cursive; }

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 45vh;
  text-align: center; }
  .boxes a {
    position: relative;
    display: inline-block;
    padding: 20px 25px;
    font-size: 13px;
    font-weight: 600;
    font-family: "Orbitron", sans-serif;
    color: #03e9f4;
    text-decoration: none;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); }
    .boxes a:nth-child(1) {
      filter: hue-rotate(290deg); }
    .boxes a:nth-child(3) {
      filter: hue-rotate(110deg); }
    .boxes a:hover {
      background: #03e9f4;
      color: #fff;
      box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4; }
    .boxes a span {
      position: absolute;
      display: block; }
      .boxes a span:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #03e9f4);
        animation: animate1 1s linear infinite; }
      .boxes a span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #03e9f4);
        animation: animate2 1s linear infinite;
        animation-delay: 0.25s; }
      .boxes a span:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, #03e9f4);
        animation: animate3 1s linear infinite;
        animation-delay: 0.5s; }
      .boxes a span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #03e9f4);
        animation: animate4 1s linear infinite;
        animation-delay: 0.75s; }
