@include mediaXl {
  #projects .contain {
    grid-gap: 40px;
  }
}
@include mediaLg {
  #projects .contain {
    grid-gap: 20px;
  }
}

@include mediaMd {
  #home {
    .head-wrap {
      width: 85%;
      .nav {
        display: none;
      }
    }
    .intro-text {
      height: 360px;
    }

    .menu-btn {
      display: initial;
    }
  }
  .ad-container {
    width: 85%;
    height: auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    .ad-box {
      height: 280px;
      width: 280px;
      margin: 20px auto;
      &:nth-child(1) {
        grid-row: 1/2;
        grid-column: 1/6;
      }
      &:nth-child(2) {
        grid-row: 1/2;
        grid-column: 6/11;
      }
      &:nth-child(3) {
        grid-row: 2/3;
        grid-column: 4/8;
      }
    }
  }

  ul.menu-nav {
    float: none;
    width: 100%;
    min-width: 0;
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-nav {
    font-size: 24px;
  }

  #about {
    width: 90%;
    .about-text {
      margin-right: 30px;
    }
    .about-side {
      margin: 15px 0;
    }
    .about-image {
      width: 400px;
      img {
        width: 300px;
      }
    }
  }

  .skills-container {
    width: 90%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    img {
      width: 97px;
      height: 97px;
    }
  }

  #projects {
    width: 90%;
    .project-container {
      @include flex(column);
      .project-image {
        img {
          width: 500px;
        }
      }
      .project-info {
        height: 280px;
        align-items: center;
        text-align: center;
        .tools-used {
          margin: 5px auto;
        }
      }
    }
  }
  #contact {
    width: 90%;
  }
}
@include mediaSm {
  #home {
    .head-wrap {
      height: 65px;
      img {
        width: 40px;
        height: 40px;
      }
    }

    #SVG {
      width: 310px;
      height: 30px;
    }
    h3 {
      font-size: 17px;
      width: 310px;
      margin: 15px 0 20px 0;
    }
    .intro-text {
      height: 450px;
      width: 100%;
    }
    .menu-button {
      margin-right: 13px;
    }
  }
  .menu {
    height: 200px;
    .nav-link {
      font-size: 17px;
    }
  }
  .ad-container {
    width: 100%;
    height: auto;
    @include flex(column);
    margin: 30px 0;
    .ad-box {
      margin: 30px 0;
      height: 300px;
      width: 300px;
    }
  }
  #projects {
    .project-container {
      width: 95%;

      .project-image {
        @include flex-center;
        img {
          width: 100%;
        }
      }
      .project-info {
        width: 90%;
        h4 {
          margin: 15px auto;
          width: 90%;
        }
        .tools-used {
          margin-bottom: 10px;
        }
      }
    }
  }
  #about {
    .about-info {
      width: 100%;
      @include flex(column);
      .about-title {
        font-size: 40px;
      }
      .about-text {
        align-items: center;
        text-align: center;
        width: 70%;
        .about-side {
          margin: 20px 0;
        }
      }
      .about-image {
        margin-top: 60px;
        width: 85%;
      }
    }
    .skills-container {
      width: 90%;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, 1fr);
      img {
        width: 85px;
        height: 85px;
      }
    }
  }

  #contact {
    form {
      width: 90%;
      margin: 0 auto;
    }
    #contact-form {
      width: 100%;
    }
    #contact-form {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
        "n"
        "email"
        "text";
      textarea {
        height: 240px;
      }
    }
  }
  #main-footer {
    .footer-content {
      h3 {
        font-size: 23px;
      }
    }
  }
}
@include mediaXs {
  #home {
    #SVG {
      width: 280px;
      height: 30px;
    }
    h3 {
      width: 290px;
      font-size: 15px;
    }
    .intro-text {
      button {
        font-size: 15px;
        padding: 8px 13px;
      }
    }
  }
  .ad-container {
    margin-bottom: 30px;
    .ad-box {
      height: 250px;
      width: 250px;
      img {
        height: 40px;
        width: 40px;
      }
      h4 {
        font-size: 17px;
      }
      h6 {
        font-size: 13px;
        width: 160px;
      }
    }
  }
  #about {
    .about-info {
      width: 100%;
      .about-title {
        font-size: 40px;
      }
      .about-side {
        font-size: 17px;
        width: 220px;
      }
      .about-para {
        width: 220px;
      }
      .about-image {
        img {
          width: 220px;
        }
      }
    }

    .skills-title {
      font-size: 20px;
      text-align: center;
      margin-bottom: 35px;
    }
    .skills-container {
      margin: 0;
      img {
        width: 60px;
        height: 60px;
      }
    }
  }
  #projects {
    margin: 15px auto;
    .project-container {
      margin: 0;
      .project-info {
        height: 250px;
        h2 {
          font-size: 25px;
        }
        h4 {
          font-size: 15px;
        }
        .buttons {
          width: 170px;
          a {
            font-size: 16px;
            padding: 10px 16px;
          }
        }
      }
    }
  }
  #contact {
    height: 600px;
    @include flex(column);
    h2 {
      font-size: 30px;
      color: $text-color;
    }
    #contact-form {
      textarea {
        height: 180px;
      }
    }
    #submit {
      font-size: 16;
      padding: 10px 16px;
    }
  }
  #main-footer {
    height: 400px;
    .footer-content {
      height: 290px;
      h3 {
        font-size: 17px;
      }
      p {
        font-size: 13px;
      }
      img {
        width: 45px;
        height: 45px;
      }
    }
  }
}
