@import "config";
@import "menu";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: ($primary-color);
  color: set-text-color($primary-color);
  width: 100%;

  overflow-x: hidden;
  font-family: Calibri;
}
// -----------------------------------Scrollbar effect----------------------
html {
  --scrollbarBG: #e7e7e7;
  --thumbBG: #274453;
  scroll-behavior: smooth;
}

// -----------------------------------Scrollbar effect----------------------
a {
  color: #fff;
  text-decoration: none;
}
header {
  position: fixed;
  z-index: 3;
  width: 100%;
}
.text-secondary {
  color: $secondary-color;
}

#home {
  @include norm-bg;
  background-image: url("../img/purple-blue.svg");
  height: 650px;
  margin: 0 auto;
  width: 100%;

  h3 {
    font-family: Calibri;
    width: 570px;
    font-size: 22px;
    color: #f9f9f9;
    text-align: center;
    font-weight: 400;
    margin: 20px 0 35px 0;
  }
  .intro-text {
    width: 400px;
    height: 450px;
    margin: 0 auto;
    @include flex-center;

    button {
      font-size: 18px;
      color: #f9f9f9;
      border-radius: 35px;
      transition: 0.3s ease;
      padding: 12px 17px;
      font-weight: 100;
      background-color: $btn-color;
      border-style: none;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      &:hover {
        cursor: pointer;
      }
    }
  }
  svg {
    animation: fill 0.5s ease forwards 3s;
    fill: transparent;
    opacity: 0;
  }
}
@keyframes mongo {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  to {
    fill: #f8f8f8;
  }
}

//-------------------------------Home-------------------------------

.ad-container {
  @include flex(row);
  width: 90%;
  max-width: 1100px;
  height: 380px;
  margin: 0 auto;
  .ad-box {
    width: 300px;
    height: 300px;
    background-color: rgb(252, 252, 252);
    @include flex(column);
    border-radius: 10px;
    padding: 40px 0;
    img {
      height: 60px;
      width: 60px;
    }
    h4 {
      font-size: 20px;
      color: $text-color;
    }
    h6 {
      font-size: 17px;
      color: #777;
      text-align: center;
      width: 250px;
      font-weight: 300;
    }
  }
}
//----------------------------------About---------------------------------
#about {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  @include flex-center;
}
.about-info {
  @include flex(row);
  width: 95%;
  margin: 40px auto;
  .about-text {
    @include flex(column);
    align-items: flex-start;
    font-family: Calibri;
    width: 430px;
    height: 270px;
    .about-title {
      font-size: 40px;
      color: $text-color;
      font-weight: 600;
    }
    .about-side {
      font-size: 20px;
      color: #777;
      font-weight: 400;
    }
    .about-para {
      font-size: 15px;
      font-weight: 600;
      color: $text-color;
    }
  }
  .about-image {
    width: 500px;
    @include flex-center;
    svg {
      height: auto;
      width: 70%;
    }
  }
}
.skills-title {
  font-size: 19px;
  color: #b8b8b8;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;

  margin-top: 50px;
}

.skills-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 60px auto;
  grid-gap: 20px;
  img {
    height: 110px;
    width: 110px;
    transition: 0.3s all ease-in-out;
  }
}

//----------------------------------Projects--------------------------------
#line {
  border: 1px solid #e7e7e78e;
  width: 100%;
  margin: 30px 0;
}

#projects {
  @include flex-center;
  max-width: 1000px;
  min-height: 900px;
  margin: 50px auto;
  h1 {
    font-size: 19px;
    color: #b8b8b8;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
.project-container {
  @include flex(row);
  width: 100%;
  margin: 40px 0;
  padding: 40px 0;
  .project-image {
    img {
      width: 600px;
      height: auto;
    }
  }
  .project-info {
    @include flex(column);
    align-items: flex-start;
    width: 400px;
    height: 300px;
    h2 {
      color: $text-color;
      font-size: 32px;
    }

    h4 {
      color: #777;
      font-weight: 400;
      font-size: 18px;
    }
    .buttons {
      @include flex(row);
      justify-content: space-between;
      width: 220px;
      a {
        font-size: 18px;
        color: $primary-color;
        background-color: $secondary-color;
        padding: 12px 22px;
        border-radius: 30px;
        border: $secondary-color;
        transition: 0.3s;
        &:hover {
          background: $secondary-color;
          cursor: pointer;
          color: $primary-color;
        }
      }
      .no-bg {
        background-color: $primary-color;
        color: $secondary-color;
        border: $secondary-color solid 1px;
        padding: 11px 21px;
      }
    }
  }
}

//----------------------------------Contact--------------------------------
#contact {
  margin: 0 auto;
  width: 60%;
  height: 600px;
  @include flex(column);
  h2 {
    font-size: 40px;
    color: $text-color;
  }
}

#contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "n email"
    "text text";
  grid-gap: 20px;
  width: 600px;
  height: auto;
  margin: 0 auto;
  label {
    color: #b8b8b8;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    height: 35px;
    border-radius: 3px;
    border: solid 1px #b8b8b8;
    font-size: 15px;
    &:focus {
      outline: none;
      border: solid 2px $secondary-color;
    }
  }
  .input-name {
    grid-area: n;
  }
  .input-email {
    grid-area: email;
  }
  .input-text {
    grid-area: text;

    textarea {
      width: 100%;
      height: 270px;
      border-radius: 3px;
      border: solid 1px #b8b8b8;
      resize: none;
      font-size: 15px;

      &:focus {
        outline: none;
        border: solid 2px $secondary-color;
      }
    }
  }

  div {
    @include flex(column);
    align-items: flex-start;
    width: 100%;
    height: 100%;
  }
}
#submit {
  font-size: 20px;
  color: $secondary-color;
  border-radius: 30px;
  padding: 14px 24px;
  margin-top: 15px;
  border: solid 1px $secondary-color;
  transition: 0.3s;
  background-color: $primary-color;
  &:hover {
    cursor: pointer;
    color: white;
    background-color: $secondary-color;
  }
}
//----------------------------------Contact--------------------------------

#main-footer {
  background-color: $secondary-color;
  height: 450px;
  @include flex(column);
  margin-top: 40px;
  .footer-content {
    @include flex(column);
    height: 340px;
    width: 100%;
  }
  h3 {
    font-size: 23px;
    color: #f0f0f098;
    font-weight: 500;
    letter-spacing: 1px;
  }
  p {
    font-size: 18px;
    color: #f0f0f098;
  }
  img {
    width: 70px;
    height: 70px;
  }
  .icons {
    @include flex(row);
    width: 270px;
    #circle {
      border-radius: 50%;
      border: solid 2px #e6e6e63b;
      transition: 0.3s;
      height: 45px;
      width: 45px;
      @include flex-center;
      &:hover i {
        color: $btn-color;
        cursor: pointer;
      }
      &:hover {
        background-color: #f8f8f8;
        cursor: pointer;
      }
    }
    i {
      font-size: 18px;
      color: #f8f8f8;
      transition: 0.3s;
    }
  }
}

@import "mobile";
